# ─── Base de datos ───────────────────────────────────────────
# IMPORTANTE: Las credenciales son fijas.
DB_USER=proy2
DB_PASSWORD=secret
DB_NAME=tienda_db
DB_PORT=5432

# ─── Backend ─────────────────────────────────────────────────
BACKEND_PORT=3000

# ─── Frontend ────────────────────────────────────────────────
FRONTEND_PORT=8080
